
.chat-history {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 300px;
    padding: 10px;
    padding-bottom: 120px;
  }
  
  .message {
    margin: 5px;
    padding: 10px;
    max-width: 80%;
    border-radius: 20px;
  }
  
  .user {
    align-self: flex-end;
    background-color: #007aff;
    color: white;
  }
  
  .assistant {
    align-self: flex-start;
    background-color: #f4f4f4;
    color: black;
  }

  /* question input styling */
  input:focus, textarea:focus, select:focus{outline: none;}

  .question_input_wrapper{
    width: 1200px;
    background:none;
    border-radius: 58px;
    border: 1px solid white;
    background: rgba(34, 34, 34, 0.5);
    padding: 20px 20px 20px 40px;
    position: absolute;
    bottom: 0;
    transform: scale(0.7);

  }
  .question_input_wrapper > .form_question{
    display:flex;
    flex-direction: row;
    gap: 8px;
  }

  .question_button{
      justify-content: center;
      align-items: center;
      width: 50px;
      height: 50px;
      background: #5561FF;
      border-radius: 50px;
      border: none;
      color: white;
  }
  .input_question{
      width: 100%;
      background:none;
      color: white;
      border: none;
      font-size: 20px;
      }

  .question_button > .submit_cta{
    padding-top: 3px;
      width: 24px;
      height: 24px;
  }

  