.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: 100vh;
}
.logo{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

}
.hero_wrapper{
  display: flex ;
  flex-direction: column;
  gap: 100px;
  width:100vw;
  
}

.header-container-video{
flex-direction: row;
gap:5px;
position: sticky;
top:0;
}

.header-container-video > .wrapper{
width:100%;
scale:0.8;
} 
.header-container-video > .logo{
  width: fit-content;
  scale:0.5;
}

.container-analyzed{
  justify-content: space-between;
  height:100vh;
}

.body-container{
  height:100vh;
}